<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글쓰기</title>
    <link rel="stylesheet" th:href="@{/css/nav.css}">
</head>
<body>
    <nav th:replace="~{nav.html::top-nav}"></nav>
    <h1>글쓰기</h1>
    <form id="postForm">
        <div>
            <label for="title">제목:</label>
            <input type="text" id="title" name="title" required maxlength="100">
            <span id="titleAlert" style="color: red; display: none;">제목은 최대 100자까지 입력할 수 있습니다.</span>
        </div>
        <div>
            <label for="content">내용:</label>
            <textarea id="content" name="content" required maxlength="1000"></textarea>
            <span id="contentAlert" style="color: red; display: none;">내용은 최대 1000자까지 입력할 수 있습니다.</span>
        </div>
        <button type="submit">제출</button>
    </form>

    <script src="/js/writing.js"></script>
</body>
</html>
