body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #fd9800; /* 주황색 배경 */
    color: white; /* 흰색 글자 */
    font-size: 16px;
    cursor: pointer; /* 포인터 커서 */
    transition: background-color 0.3s, transform 0.3s; /* 효과 전환 */
    width: max-content;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"]
{
    padding: 12px; /* 여백 추가 */
    border-radius: 8px; /* 모서리 둥글게 */
    border: 1px solid #ccc; /* 테두리 색상 */
    font-size: 16px; /* 글자 크기 */
    transition: border 0.3s; /* 부드러운 전환 효과 */
    gap: 10px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="email"]:focus
{
    border-color: #fd9800; /* 포커스 시 테두리 색상 변경 */
    outline: none; /* 기본 포커스 아웃라인 제거 */
}

.form-email{
    display: flex;
}

.findBtn{
    margin-top: 10px;
}