#input-categories {
    position: relative;
    left: 30%;
    bottom: 130px;
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    height: 500px;
    border: 1px solid #cccccc75;
    border-radius: 8px;
    background-color: #f2bc6aa3;
    padding: 15px;
    display: flex;
    justify-content: center;
}

input[type="checkbox"]{
    display: none;
}

.category-labels{
    border: 2px solid #cccccc75;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(243, 191, 47, 0.702);
    cursor: pointer;
    border-radius: 16px;
    margin: 60px 20px;
    width: 100px;
    height: 80px;
    font-size: larger;
    flex-wrap: wrap;
    font-weight: bold;
    text-align: center;
}

#submit-btn {
    position: absolute;
    bottom: 105%;
    right: 0;
    background-color: #fd9800;
    padding: 12px;
    border: none;
    border-radius: 8px;
    color: white; /* 흰색 글자 */
    font-size: 16px;
    cursor: pointer; /* 포인터 커서 */
    transition: background-color 0.3s, transform 0.3s; /* 효과 전환 */
}

#submit-btn:active{
    opacity: 0.7;
}

.category-labels:hover{
    background-color: #fffcd1;
}

input[type="checkbox"]:checked + .category-labels{
    background-color: #fd98009e;
    border-color: #fd9800;
    color: white;
}

#introduce {
    position: absolute;
    bottom: 112%;
    font-size: large;
    font-weight: bold;
    color: #333;
}

