<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Record Page</title>
    <link rel="stylesheet" th:href="@{/css/record.css}">
    <link rel="stylesheet" th:href="@{/css/nav.css}">
</head>
<body>
    <nav th:replace="~{nav.html::top-nav}"></nav>

    <div class="record-container">

        <nav th:replace="~{nav.html::side-nav}"></nav>
    
        <div sec:authorize="isAnonymous">
            <div>로그인 후 이용 가능합니다</div>
            <a href="/user/login">로그인</a>
        </div>
        
        <div sec:authorize="isAuthenticated">
            
            <!-- 처음 접속하면 체크만 가능하고 내용은 readonly(+)
    
            기록 부분 체크박스 안보이게 처리 버튼처럼 생긴 글자만 보이는데 누르면 텍스트박스 등장 readonly(+)
            
            체크여부에 따라 색 변경(+)
            
            수정버튼 클릭시 텍스트 박스 수정 가능, 완료버튼 등장 완료 버튼 누르면 저장 후 다시 readonly(-)
            
            완료 버튼은 textarea 내부에 위치 완료버튼 누르면 저장 후 완료버튼 사라지고 첫 접속했을 때처럼 다시 readonly와 수정버튼(-)
             -->
    
            <!-- 기록 출력 -->
            <div id="totalRecord">
    
                <!-- 날짜 선택 -->
                <input id="inputDate" type="date" min="2000-1-1" th:value="${date}">
                
                <!-- 카테고리별 정보 출력 -->
                <div class="record" th:each="record : ${userRecords}" th:userid="${record.user.userid}">
    
                    <div class="categoryRecord">
    
                        <input th:id="${record.category.id}" class="checkbox" type="checkbox" th:point="${record.point}">
                        <label th:for="${record.category.id}" class="checkboxLabel" th:text="${record.category.name}">카테고리</label>
        
                        <!-- 수정 완료 -->
                        <div class="record-content">
                            <textarea th:text="${record.content}" readonly></textarea>
                            <div class="button-container">
                                <a href="#" class="editBtn">수정</a>
                                <a href="#" class="submitButton">완료</a>
                            </div>
                        </div>
    
                    </div>
    
                </div>
            </div>
        
        </div>

    </div>

<script src="/js/record/record.js"></script>
    
</body>
</html>