<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" th:href="@{/css/nav.css}">

    <style>
        body{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #inputShape {
            display: flex;
            flex-direction: column;
        }
    </style>

</head>
<body>
    <nav th:replace="~{nav.html::top-nav}"></nav>

    <h1>비밀번호 변경</h1>

        <div class="inputShape">
            <label class="required" for="inputPw">비밀번호</label>
            <span id="pwChkRes"></span>
            <div><input id="inputPw" type="password" name="password"></div>
            <div><input id="inputPwChk" type="password" name="passwordChk" placeholder="비밀번호를 다시 입력해주세요"></div>
        </div>
    
</body>
</html>