<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit user info</title>
    <link rel="stylesheet" th:href="@{/css/nav.css}">
    <link rel="stylesheet" href="/css/user/editInfo.css">
</head>
<body>
    <nav th:replace="~{nav.html::top-nav}"></nav>
                
    <div id="checkPassword">
    
        <span>개인 정보를 수정하시려면 비밀번호를 입력해주세요.</span><br>
        <span id="resultMessage"></span><br>
        <input id="saveId" type="hidden" name="userid" th:value="${user.userid}">
        <input id="inputPassword" type="password" name="password">
        <button id="sendPassword" class="btn" type="button">입력</button>

    </div>
    
    <div id="editArea">

        <form id="submitForm" action="/user/retouch" method="post">
    
            <input type="hidden" name="id" th:value="${user.id}">
    
            <input type="hidden" name="userid" th:value="${user.userid}" readonly>
    
            <input id="inputPw" type="hidden" name="password">
                    
            <div class="inputShape">
                <label class="required" for="inputNicknm">닉네임</label>
                <span id="nicknmChkRes"></span>
                <div>
                    <input id="inputNicknm" type="text" name="userName" th:value="${user.userName}">
                    <button id="nicknmDuplChkBtn" class="btn" type="button">닉네임 중복확인</button>
                </div>
            </div>
    
                <input type="hidden" name="email" th:value="${user.email}" readonly>
        
            <div class="inputShape">
                <label>성별</label>
                <div>
                    <label for="genderMale">남</label>
                    <input id="genderMale" type="radio" name="gender" value="male" th:checked="${user.gender == 'male'}">
        
                    <label for="genderFemale">여</label>
                    <input id="genderFemale" type="radio" name="gender" value="female" th:checked="${user.gender == 'female'}">
        
                    <label for="genderOther">선택안함</label>
                    <input id="genderOther" type="radio" name="gender" value="null" th:checked="${user.gender == null or user.gender.isEmpty()}">
                </div>
            </div>
        
            <div class="inputShape">
                <label for="inputBirthDate">생년월일</label>
                <input id="inputBirthDate" type="date" name="birthDate" th:value="${user.birthDate}">
            </div>
        
            <div>
                <button class="btn" type="submit">변경 사항 저장</button>
                <a class="btn" href="/user/userInfo">취소</a>
            </div>
            
        </form>
        
        <a id="deleteAccount" class="btn" href="#">회원탈퇴</a>

    </div>



<script type="module" src="/js/user/EditInfo.js"></script>
<script src="/js/nav.js"></script>

</div>    
</body>
</html>