<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit user info</title>
    <link rel="stylesheet" th:href="@{/css/nav.css}">
</head>
<body>
    <div>
    <h2>정보 수정</h2>

    <form id="submit" action="/user/retouch" method="post">

        <div>
            <input type="hidden" name="id" th:value="${user.id}">
        </div>


        <div>
            <span> ID </span>
            <input type="text" name="userid" th:value="${user.userid}" readonly>
        </div>

    
        <div>
            <span> 이름 </span>
            <input type="text" name="userName" th:if="${user.userName != null}" th:value="${user.userName}">
        </div>
    
        <div>
            <span> 비밀번호 </span>
            <input id="changePassword" name="password" type="password">
            <input id="checkChangePassword" type="password">
        </div>
    
        <div>
            <span> 이메일 </span>
            <input type="text" name="email" th:value="${user.email}" readonly>
        </div>
    
        <div>
            <span> 성별 </span>
            <input type="text" name="gender" th:if="${user.gender != null}" th:value="${user.gender}">
        </div>
    
        <div>
            <span> 생일 </span>
            <input type="text" name="birthDate" th:if="${user.birthDate != null}" th:value="${user.birthDate}">
        </div>
    
        <button type="submit">변경 사항 저장</button>
        <a href="/user/mypage">취소</a>
        
    </form>
    
    <a id="deleteAccount" href="#">회원탈퇴</a>

<script>
(()=>{


    document.querySelector('#submit').addEventListener('submit', (event) => {
        event.preventDefault();
        
        const changePassword = document.querySelector('#changePassword').value;
        const checkChangePassword = document.querySelector('#checkChangePassword').value;

        if (changePassword != '' && changePassword !== checkChangePassword) {
            alert("비밀번호를 확인해주세요.");
            return;
        }

        event.target.submit();
    });


    document.querySelector('#deleteAccount').addEventListener('click',(event)=>{
        event.preventDefault();

        if (confirm("회원 탈퇴 시 작성하신 게시글 기록 등이 전부 삭제됩니다.\n정말로 탈퇴 하시겠습니까?")){
            const userid = document.querySelector('input[name="userid"]').value;
            const id = document.querySelector('input[name="id"]').value;
            
            fetch('/user/deleteAccount', {

                method: 'DELETE',
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({userid, id})

            })
            .then(response => response.text())
            .then(message => {
                alert(message);
                location.href='/ui/main';
            })
            .catch(error => {
                    alert("탈퇴 중 문제가 발생했습니다: " + error.message);
            });
        }
        
    })





})();


</script>

</div>    
</body>
</html>