<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage2</title>
    <link rel="stylesheet" href="/css/personal_menu/mypage.css">
    <link rel="stylesheet" th:href="@{/css/nav.css}">
</head>

<body>

    <nav th:replace="~{nav.html::top-nav}"></nav>
    <!-- <nav th:replace="~{nav.html::side-nav}"></nav> -->
    <nav th:replace="~{nav.html::additional-contents-nav}"></nav>

        <!-- 로그인 유무 -->
        <div sec:authorize="isAnonymous">
            <h1>로그인 후 이용 가능합니다.</h1>
            <a href="/user/login">로그인</a>
            <a href="/ui/main">홈으로</a>
        </div>
    
        <div sec:authorize="isAuthenticated">
    
            <div th:if="${pointsByMonths == null or pointsByMonths.isEmpty()}">
                <div> 최근 기록이 없습니다. </div>
            </div>
    
            <div id="contentContainer" th:if="${pointsByMonths != null and !pointsByMonths.isEmpty()}">
    
                <!-- 원하는 단위 통계 확인 버튼 -->
                <div id="dateUnitContainer">
                    <a id="viewDays" href="#">주간 활동</a> <a id="viewMonths" class="selected" href="#">월간 활동</a>
                </div>
    
                <div id="weeks" th:attr="data-totalPoint = ${totalPoint}">
    
                    <div th:if="${totalPoint} == null">
                        <div> 최근 일주일간 데이터가 없습니다. </div>
                    </div>
    
                    <!-- 주간 데이터 -->
                    <div th:if="${totalPoint} != null">
                        <div th:each="pointD : ${pointsByDays}">
                            <div class="pointsByDays" th:attr="data-key=${pointD.key}, data-value=${pointD.value}"></div>
                        </div>
                        <div id="daysChartContainer" class="chartsContainer"><canvas id="daysChart"></canvas></div>
                    </div>
                    <div id="weekActivityPoint" th:if="${totalPoint} != null" th:text="'주간 총 활동 포인트 : ' + ${totalPoint}"></div>
    
                </div>
    
                <!-- 월간 데이터 -->
                <div th:each="pointM : ${pointsByMonths}">
                    <div class="pointsByMonths" th:attr="data-key=${pointM.key}, data-value=${pointM.value}"></div>
                </div>
    
                <div id="monthsChartContainer" class="chartsContainer"><canvas id="monthsChart"></canvas></div>
    
            </div>
    
        </div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/user/Mypage.js"></script>
<script src="/js/nav.js"></script>
    
</body>
</html>
