body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.edit {
    display: none;

}

.add {
    display: none;
}

.categories-list{
    border: 2px solid #555;
    border-radius: 8px;
    width: 200px;
    height: 100px;
    padding: 10px;
    position: relative;
    left: 80px;
}

.categories-list-box{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.categories-list-container{
    width: 900px;
}

.btn{
    text-decoration: none;
    border: 1px solid #555;
    background-color: rgb(233, 233, 171);
    padding: 1px;
    border-radius: 4px;
}

.add-area{
    margin-bottom: 10px;
}