
/* 질문 상자 스타일 */
.question-box {
    position: fixed;
    top: 100px; /* 질문 상자 위치 조정 */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
}

/* 질문 입력 필드 스타일 */
.question-box input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}

/* 버튼 컨테이너 스타일 */
.button-container {
    display: flex;
    justify-content: center;
}


.button-container button {
    padding: 30px 60px; /* 패딩을 늘려 버튼 크기 증가 */
    margin: 30px 20px;

    font-size: 24px; /* 폰트 크기 증가 */
    background-color: white;
    border: none;
    border-radius: 50px; /* 기본 둥근 모양 */
    cursor: pointer;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* 부드러운 그림자 */
    font-weight: bold; /* 버튼 텍스트를 두껍게 */
    font-family: 'Arial', sans-serif; /* 기본 글꼴 */
    overflow: hidden; /* 구름 효과가 버튼 외부로 나가지 않도록 */
    top: 150px;

    width: 800px;
}

/* 그라데이션 효과 추가 */
.button-container button::before {
    content: '';
    position: absolute;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.8), rgba(224, 224, 224, 0.5)); /* 그라데이션 효과 */
    border-radius: 50%; /* 둥글게 */
    width: 130%; /* 버튼보다 약간 크게 */
    height: 130%; /* 버튼보다 약간 크게 */
    left: 50%; /* 중앙 정렬 */
    top: 50%; /* 중앙 정렬 */
    transform: translate(-50%, -50%); /* 중앙으로 이동 */
    z-index: -1; /* 버튼 뒤에 위치 */
    opacity: 0.5; /* 반투명 */
}

/* 버튼 호버 시 스타일 */
.button-container button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* 호버 시 그림자 증가 */
    transform: translateY(-2px); /* 위로 살짝 올라가는 효과 */
}

#fastRecommendation{
    position: relative;
}

#fastRecommendation h1{

}


#select-recommendation{
    position: relative;
}

#select-recommendation h1{

}


#lottie-container {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 150px; /* 원하는 크기 */
    height: 150px;
  }