#printRecord{
    display: flex;
    flex-direction: column;
    top: 15%;
    left: 27%;
    position: absolute;
    border: 1px solid #444;
    padding-top: 0;
    padding-left: 0;
    border-radius: 10px;
    background-color: rgba(255, 255, 0, 0.196);

}

#printRecord .checkbox{
    display: none;
}

#inputDate {
    margin-bottom: 20px;
    width: 140px;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: rgba(157, 178, 245, 0.442);
    position: relative;
    top: 5px;
    left: 15px;
}

.record {
    margin-bottom: 20px;
    margin-left: 30px;
}

.categoryRecord {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;  
    margin-right: 20px;     
}

.checkboxLabel {
    padding: 10px;
    color: #333;
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.2s, opacity 0.2s;
    line-height: 1.5;
    height: 150px;
    width: 80px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    background-color: rgba(255, 185, 56, 0.568);
}

.checkboxLabel:active {
    opacity: 0.7;
}

input[type="checkbox"]:checked + label{
    background-color: #ff8c00ca;
    color: aliceblue;
}

.record-content {
    display: flex;
    width: 800px;
    margin-left: 10px;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
}

.record-content textarea {
    height: 170px;
    resize: none;
    box-sizing: border-box; 
    padding: 10px; 
    border: none; 
    border-radius: 5px;  
    color: #333;       
    font-size: 16px;  
    transition: border-color 0.3s; 
    margin-left: 5px;
    width: 750px;
    margin-right: 10px;
    vertical-align: top;
    background-color: rgba(255, 255, 0, 0);
}

.record-content textarea:focus {
    background-color: rgba(255, 255, 0, 0.233);
}

.record-top{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 60, 255, 0.667);
    padding-bottom: 0;
    margin-bottom: 20px;
    border-radius: 9px 9px 0 0;
    align-items: center;
    padding-left: 15px;
    padding-top: 10px;
}
.record-top .submitButton{
    margin-right: 20px;
    margin-bottom: 10px;
    background-color: #ffb700cd;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.record-top .submitButton:active {
    background-color: #ff99007e;
}

.divisionLine {
    width: 81%;
    border-top: 2px solid #ff00002b;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    left: 3%;
}
.divLineContainer{
    display: flex;
    flex-direction: column;
}